.add-plan {
  background-color: $background-plan;
  border-radius: 20px 20px 0 0;
  padding-bottom: 40px;
}

.add-plan__container {
  @include container;

  @media (min-width: $tablet-width) {
    padding-left: 74px;
    padding-right: 74px;
  }
}

.add-plan__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.add-plan__title {
  margin: 0;
  padding: 25px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;

  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-top: 53px;
    padding-bottom: 56px;
    padding-left: 0;
  }
}

.add-plan__controls {
  @include reset;
  display: flex;
  justify-content: space-between;
  width: 50px;
}

.add-plan__controls-item {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba($basic-blue-light, 0.3);

  &--active {
    background-color: $basic-blue-light;
  }
}

.add-plan__list {
  @include reset;
}

.add-plan__item {
  padding: 25px;
  border-radius: 10px;
  background-color: $color-white;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 56px;
    margin-bottom: 39px;
  }
}

.add-plan__subtitle {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;

  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    padding-top: 48px;
    padding-bottom: 35px;
    font-size: 36px;
    line-height: 36px;
  }
}

.add-plan__text {
  color: $special-grey;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-bottom: 38px;
    font-size: 20px;
    line-height: 24px;

    border-bottom: 1px solid $border-color;
  }
}

.add-plan__buttons {
  text-align: center;
}

.add-plan__calendar {
  @include reset;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin-bottom: 20px;
  align-items: center;
  border-top: 1px solid $background-directions;
  border-bottom: 1px solid $background-directions;

  @media (min-width: $tablet-width) {
    padding-top: 27px;
    padding-bottom: 27px;
    margin-bottom: 39px;
  }
}

.add-plan__calendar-button {
  width: 18px;
  height: 18px;

  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.add-plan__calendar-button--back {
  background-image: url("../img/arr-left.svg");
}

.add-plan__calendar-button--next {
  background-image: url("../img/arr-right.svg");
}

.add-plan__calendar-name {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;

  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.add-plan__link {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  color: $basic-blue-light;
  background-color: transparent;
}

.add-plan__button-next {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;

  text-align: center;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    width: 284px;
  }
}
