.button {
  position: relative;
  width: 100%;
  height: 40px;
  display: block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;

  color: $basic-blue-light;
  background-color: $basic-yellow;

  border: none;
  border-radius: 10px;

  &:hover,
  &:focus {
    background-color: $special-yellow-dark;
  }

  &:active {
    color: rgba($basic-blue-light, 0.3);
  }

  &--hide {
    position: absolute;
    content: "";
    top: 20px;
    right: 23px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 14px solid #1d2e5b;
  }

  &--grey {
    font-size: 20px;
    font-weight: 500;
    background-color: $button-grey;

    &:hover,
    &:focus {
      background-color: $button-grey-hover;
    }

    &:active {
      color: rgba($basic-blue, 0.3);
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 27px;
    padding-left: 33px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 20px;

    &::before {
      top: 40px;
      right: 27px;
    }
  }
}
