.companions {
  position: relative;
  color: $color-white;
  background-color: $color-blue;
  border-radius: 0 0 30px 30px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 100%;
    background-color: $background-rate;
    z-index: -1;

    @media (min-width: $tablet-width) {
      height: 50px;
    }
  }

  @media (min-width: $tablet-width) {
    border-radius: 0 0 60px 60px;
  }
}

.companions__container {
  @include container;
  padding-top: 65px;
  padding-bottom: 30px;
  margin: 0 auto;

  background-image: url("../img/png/smolov-back-desktop.png"),
    url("../img/png/back.png"),
    url("../img/png/rogovaya-back-desktop.png");
  background-repeat: no-repeat;
  background-position: top 35px right 25px,
    top 34px left -20px,
    top 307px left -3px;
  background-size: 143px 143px,
    132px 132px,
    64px 71px;

  @media (min-width: $tablet-width) {
    padding-top: 141px;
    padding-bottom: 87px;

    background-image: url("../img/png/smolov-back-desktop.png"),
      url("../img/png/back.png"),
      url("../img/png/rogovaya-back-desktop.png");
    background-repeat: no-repeat;
    background-position: left 40px top 427px,
      left 38px top 73px,
      right 75px top 80px;
    background-size: 143px 143px,
      212px 212px,
      285px 285px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 125px;
    padding-bottom: 54px;
    padding-left: 95px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 105px 130px auto auto;
    grid-template-areas:
      "title list"
      "text list"
      "bold list"
      "button list";

    background-position: left 546px top 135px,
      left 62px top 73px,
      left 188px top 386px;
  }
}

.companions__title {
  grid-area: title;
  margin: 0;
  padding: 0;
  padding-left: 25px;
  padding-bottom: 20px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;

  color: $special-orange;

  @media (min-width: $tablet-width) {
    font-size: 45px;
    line-height: 45px;
    padding-left: 33px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.companions__text {
  grid-area: text;
  font-weight: 300;
  margin: 0;
  padding-bottom: 6px;
  padding-left: 25px;
  padding-right: 30px;

  &--bold {
    grid-area: bold;
    font-weight: 700;
    padding-bottom: 40px;
    padding-left: 25px;

    @media (min-width: $tablet-width) {
      width: 38%;
      font-size: 21px;
      line-height: 24px;
      padding-left: 33px;
      padding-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      width: 39%;
      padding-bottom: 0;
      padding-top: 42px;
      margin: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 63%;
    font-size: 28px;
    line-height: 34px;
    padding-left: 33px;
    padding-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 67%;
    padding-bottom: 0;
  }
}

.companions__list {
  @include reset;
  grid-area: list;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-left: 33px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 13px;
    margin-top: 10px;
  }
}

.companions__item {
  position: relative;
  margin-bottom: 10px;

  &:not(:first-child) {
    @media (min-width: $tablet-width) {
      margin-left: 46px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 62px;
    }
  }

  &:last-child {
    margin-bottom: 3px;
  }

  @media (min-width: $tablet-width) {
    width: 44%;
  }

  @media (min-width: $desktop-width) {
    width: 45%;
  }
}

.companions__image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;

  @media (min-width: $tablet-width) {
    border-radius: 20px 20px 0 0;
    height: 285px;
  }
}

.companions__level {
  position: absolute;
  top: 15px;
  left: 15px;

  @media (min-width: $tablet-width) {
    top: 18px;
    left: 20px;
  }
}

.companions__inner {
  background-color: $color-white;
  margin-top: -7px;
  border-radius: 0 0 10px 10px;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 20px 20px;
  }
}

.companions__subtitle {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 27px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: $basic-blue-light;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 37px;
    left: 53px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #f97676;

    @media (min-width: $tablet-width) {
      top: 42px;
      left: 48px;
    }
  }

  &--green::before {
    background-color: #81e31e;
  }

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    font-size: 24px;
    line-height: 22px;
  }
}

.companions__country {
  width: 100%;
  position: absolute;
  top: 259px;
  z-index: 3;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    top: 273px;
  }
}

.companions__hashtags {
  text-align: center;
  padding-left: 46px;
  padding-right: 36px;
  margin-top: 13px;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    padding-left: 19px;
    padding-right: 23px;
    margin-top: 28px;
    font-size: 20px;
    line-height: 23px;
  }
}

.companions__button {
  grid-area: button;
  width: 100%;
  padding: 0;
  padding-left: 23px;
  padding-top: 22px;
  padding-bottom: 36px;

  text-align: left;
  box-sizing: border-box;

  &::before {
    position: absolute;
    content: "";
    top: 23px;
    right: 22px;
    width: 12px;
    height: 15px;
    background-image: url("../img/svg/polygon.svg");

    @media (min-width: $tablet-width) {
      top: 35px;
      right: 35px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 616px;
    padding-top: 28px;
    padding-bottom: 54px;
    margin-left: 33px;
    padding-left: 31px;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
    height: 80px;
  }
}

.companions__transport {
  border: none;

  @media (min-width: $tablet-width) {
    margin-top: 24px;
    padding-bottom: 20px;
  }
}
