.companion-filters {
  padding-top: 21px;

  @media (min-width: $tablet-width) {
    padding-top: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 22%;
    padding-top: 0;
  }
}

.companion-filters__inner {
  padding: 0 25px;
  font-size: 15px;
  line-height: 15px;

  background-color: $basic-yellow;
  color: $special-grey;
  border-radius: 20px;

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.companion-filters__title {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 23px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.02em;

  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    padding-top: 35px;
    padding-bottom: 38px;
    padding-left: 8px;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 43px;
    padding-left: 28px;
    padding-bottom: 0;
  }
}
