.companion-filters {
  padding-top: 21px;

  @media (min-width: $tablet-width) {
    padding-top: 37px;
  }
}

.companion-filters__inner {
  padding: 0 25px;
  font-size: 15px;
  line-height: 15px;

  background-color: $basic-yellow;
  color: $special-grey;
  border-radius: 20px;

  @media (min-width: $desktop-width) {
    width: 285px;
    margin-left: auto;
  }
}

.companion-filters__title {
  margin: 0;
  padding: 25px 100px 25px 25px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.02em;

  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    padding-top: 37px;
    padding-bottom: 38px;
    font-size: 30px;
    line-height: 30px;
  }
}
