.contacts-list {
  @include reset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 2;
  margin-top: 50px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.contacts-list__item {
  position: relative;
  padding: 12px 0;

  &--login {
    order: -1;
    margin-bottom: 50px;
  }
}

.contacts-list__link {
  padding-left: 61px;

  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  color: $color-blue;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
    padding-left: 80px;
  }
}

.contacts-list__link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $blue-icon;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 68px;
    height: 68px;
  }
}

.contacts-list__phone::before {
  background-image: url("../img/svg/icon-telephone.svg");
  background-position: center;
}

.contacts-list__email::before {
  background-image: url("../img/svg/icon-mail.svg");
  background-position: center;
}

.contacts-list__login {
  padding: 14px 80px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $basic-yellow;
  color: $basic-blue;
  border-radius: 20px;

  &:hover {
    background-color: $special-yellow-dark;
  }

  &:active {
    color: $link-opacity;
  }

  @media (min-width: $desktop-width) {
    padding: 12px 28px;
    font-size: 20px;
    line-height: 20px;
  }
}
