.country-filters {
  color: $color-blue;
  background-color: $bacground-check;
}

.country-filters__container {
  @include container;
  position: relative;
}

.country-filters__toggle {
  position: absolute;
  top: 20px;
  right: 29px;
  z-index: 2;
  display: block;
  width: 16px;
  height: 16px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.country-filters__modal--closed .country-filters__toggle::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: $color-blue;
  box-shadow: 6px 0 0 0 $color-blue, 12px 0 0 0 $color-blue;
}

.country-filters__modal--opened .country-filters__toggle {
  top: 10px;
  right: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 0;
    width: 12px;
    height: 2px;
    background-color: $color-blue;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.country-filters__title {
  position: relative;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 17px;
  padding-left: 27px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $background-country;
  border-radius: 0 0 20px 20px;

  &::before {
    content: "";

    position: absolute;
    top: 25px;
    left: 0px;

    width: 15px;
    height: 10px;

    background-image: url("../img/svg/icon-filter.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.country-filters__modal--closed .country-filters__mainland {
  display: none;
}

.country-filters__modal--closed .country-filters-modal {
  display: none;
}

.country-filters__modal--closed .country-filters__button {
  display: none;
}
