.country-letters {
  @include reset;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    width: 63%;
    padding-top: 35px;
    padding-bottom: 63px;
    background-color: transparent;

    &--form {
      width: 52%;
      padding-top: 0;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.country-letters__title--desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    padding-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-blue;
  }
}

.country-letters__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 40px;

  color: $basic-blue-light;
  border: 1px solid $background-profile;

  &--current {
    background-color: $basic-blue-light;
    color: $color-white;
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      width: 76px;
      height: 82px;
      font-size: 60px;
      line-height: 60px;
      font-weight: 700;
      border: none;
      color: rgba($basic-blue-light, 0.3);
    }
  }

  @media (min-width: $tablet-width) {
    width: 51px;
    height: 69px;
  }
}

.country-letters__item--catalog-current {
  @media (min-width: $tablet-width) {
    color: rgba($basic-blue-light, 1);
    background-color: transparent;
  }
}

.country-letters__name {
  padding-bottom: 28px;
  padding-top: 10px;
  box-sizing: border-box;

  &--form {
    border: 1px solid $background-profile;
  }

  @media (min-width: $tablet-width) {
    padding-top: 52px;
    padding-left: 48px;

    border: none;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(5, 32%);
    grid-template-rows: 652px 496px 452px 494px;
    padding-top: 44px;
    padding-left: 10px;
    padding-bottom: 60px;
  }
}

.country-letters__title {
  @include reset;
  display: none;

  &--current {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding-right: 3px;
    padding-bottom: 7px;
  }
}

.country-letters__title-item {
  padding-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-bottom: 8px;
  }
}

.country-letters__link {
  text-decoration: none;

  color: $special-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.country-letters__index {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;

  color: $basic-blue-light;

  &--current {
    color: $color-white;
  }
}
