.country-letters {
  @include reset;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  box-sizing: border-box;
  background-color: $color-white;
}

.country-letters__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 40px;

  color: $basic-blue-light;
  border: 1px solid $background-profile;

  &--current {
    background-color: $background-directions;
  }
}

.country-letters__title {
  @include reset;
  display: none;
  width: 220px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  box-sizing: border-box;

  border: 1px solid $background-profile;
  box-shadow: 0 2px 16px rgba(212, 217, 235, 0.25);
  border-radius: 4px;

  &--current {
    display: block;
  }
}

.country-letters__link {
  text-decoration: none;

  color: $special-grey;
}

.country-letters__index {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;

  color: $basic-blue-light;

  &--current {
    color: $color-white;
  }
}

.country-filters__button {
  background-color: $button-grey;
}
