.country-selected {
  @include reset;
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding-top: 40px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 140px;
      width: 1px;
      height: 100%;
      background-color: #e1e3e9;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 65px;

    &::after {
      right: 228px;
    }
  }
}

.country-selected__item {
  position: relative;
  display: flex;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 17px;
    right: 48px;
    width: 8px;
    height: 8px;

    border: 1px solid $color-white;
    background-color: $color-white;
    border-radius: 100%;
  }

  &--select::after {
    border-color: $basic-blue-light;
    background-color: $basic-blue-light;
  }

  &--whole::after {
    border-color: $background-profile;
    background-color: $color-white;
  }

  &--add::after {
    border-color: $background-profile;
    background-color: $background-directions;
  }

  @media (min-width: $tablet-width) {
    width: 492px;
    justify-content: space-between;
    margin-bottom: 15px;

    &::after {
      top: 25px;
      right: 84px;

      width: 14px;
      height: 14px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1000px;

    &::after {
      right: 218px;
    }
  }
}

.country-selected__item--opened {
  .country-selected__button--whole {
    position: relative;
    width: 220px;
    padding-left: 15px;
    padding-top: 12px;
    letter-spacing: 0.02em;
    color: $color-white;
    background-color: $basic-blue-light;

    &:hover::before,
    &:hover::after {
      opacity: 1;
    }

    &:active::before,
    &:active::after {
      opacity: 0.1;
    }

    &::after,
    &::before {
      content: "";

      position: absolute;
      top: 20px;
      right: 13px;

      z-index: 10;

      display: block;
      width: 13px;
      height: 1px;

      background: none;
      background-color: $color-white;
      opacity: 0.3;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    @media (min-width: $tablet-width) {
      width: 492px;
      padding-left: 26px;
      padding-top: 22px;
      letter-spacing: 0.1em;

      &::after,
      &::before {
        top: 33px;
        right: 21px;

        width: 24px;
        height: 2px;
      }
    }

    @media (min-width: $desktop-width) {
      width: 730px;
    }
  }

  &::after {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  .country-selected__button--delete {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  .country-selected__modal {
    display: flex;
  }
}

.country-selected__item--closed {
  .country-selected__button--whole {
    width: 220px;
    padding-left: 11px;
    padding-top: 13px;
    background-color: transparent;
    border: 1px solid $background-profile;
    border-radius: 4px;

    &::after {
      content: "";

      position: absolute;
      top: 0;
      right: 0;

      width: 50px;
      height: 100%;

      background-image: url("../img/svg/small-arrow.svg");
      background-repeat: no-repeat;
      background-size: 16px 12px;
      background-position: center right 10px;
    }

    @media (min-width: $tablet-width) {
      width: 492px;
      padding-left: 26px;
      padding-top: 22px;

      &::after {
        background-size: 20px 17px;
        background-position: center right 26px;
      }
    }

    @media (min-width: $desktop-width) {
      width: 730px;
    }
  }
}

.country-selected__item:not(:last-child)::before {
  content: "";
  position: absolute;
  bottom: -15px;
  right: 50px;

  width: 5px;
  height: 10px;

  background-image: url("../img/svg/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.country-selected__field {
  position: relative;
  display: flex;
  width: 168px;

  &--whole {
    position: relative;
    width: 220px;
    margin-bottom: 24px;
  }

  &--add {
    width: 220px;
    margin-bottom: 26px;
  }

  &--select {
    margin-bottom: 22px;
  }

  @media (min-width: $tablet-width) {
    width: 370px;

    &--select {
      margin-bottom: 0;
    }

    &--whole {
      margin-bottom: 2px;
    }

    &--add {
      margin-bottom: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 730px;
  }
}

.country-selected__button {
  position: relative;
  display: flex;
  padding-top: 11px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 9px;

  font-family: "Blogger Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: left;
  color: $basic-blue-light;
  background-color: transparent;
  cursor: pointer;

  &--delete {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;

    background-color: $background-directions;
    background-image: url("../img/svg/icon-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-size: 9px 9px;
    border-radius: 50%;

    &:hover,
    &:focus {
      opacity: 0.3;
    }

    &:active {
      opacity: 0.05;
    }
  }

  &--select {
    width: 168px;

    border: 1px solid $background-profile;
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 100%;

      background-image: url("../img/svg/small-arrow.svg"),
        linear-gradient(to left, #ffffff 60%, transparent);
      background-repeat: no-repeat;
      background-position: right 10px center,
        right;
      background-size: 16px 12px,
        50px 100%;
    }
  }

  &--add {
    width: 220px;
    padding-left: 13px;
    background-color: $background-directions;
    border: none;
    border-radius: 4px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;

      width: 50px;
      height: 100%;

      background-image: url("../img/svg/icon-plus.svg");
      background-repeat: no-repeat;
      background-size: 14px 14px;
      background-position: center right 10px;
      opacity: 0.2;
    }

    &:hover,
    &:focus {
      background-color: #dfe3f0;
    }

    &:hover::after,
    &:focus::after {
      opacity: 0.3;
    }

    &:active::after {
      opacity: 0.1;
    }
  }

  @media (min-width: $tablet-width) {
    width: 370px;
    padding-top: 26px;
    padding-right: 35px;
    padding-bottom: 22px;
    padding-left: 25px;

    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.1em;

    &--delete {
      top: 22px;
      right: -45px;

      width: 24px;
      height: 24px;
      padding: 0;

      background-color: transparent;
      background-size: 24px 21px;

      opacity: 0.1;
    }

    &--select::after {
      background-size: 20px 17px, 50px 100%;
      background-position: right 26px center, right;

      opacity: 0.3;
    }

    &--add::after {
      background-size: 20px 20px;
      background-position: center right 25px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 730px;

    &--delete {
      top: 23px;
      right: 5px;
      width: 24px;
    }
  }
}

.country-selected__modal {
  position: absolute;
  top: 40px;
  left: 0;
  display: none;
  flex-direction: column;
  width: 220px;
  box-shadow: 0 2px 16px rgba(212, 217, 235, 0.25);
  border-radius: 4px;
  z-index: 2;
  background-color: $color-white;
  border: 1px solid $background-profile;

  @media (min-width: $tablet-width) {
    top: 69px;
    width: 575px;
    flex-direction: row;
    box-shadow: 0 8px 16px rgba(54, 80, 148, 0.18);
  }

  @media (min-width: $tablet-width) {
    width: 730px;
  }
}

.country-selected__letters-list {
  @include reset;
  display: none;

  &--current {
    display: block;
  }
}

.country-selected__flag {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 53px;
  margin-bottom: 22px;
  border: 1px solid $background-directions;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    width: 70px;
    margin-top: 11px;
    margin-bottom: 12px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-right: 114px;
  }
}

.country-selected img {
  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;
  }
}
