.country-flag__list {
  @include reset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  &--index {
    justify-content: center;
    margin: 0 auto;
  }
}

.country-flag__list--column {
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.country-flag__item {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 16px;
  font-weight: 500;
  padding-bottom: 7px;
  text-transform: uppercase;

  color: $basic-blue-light;

  &:not(:first-child) {
    margin-left: 20px;
  }

  &--column {
    &:not(:first-child) {
      margin-left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    & img {
      height: 24px;
    }

    &--column {
      padding-bottom: 10px;
    }
  }
}

.country-flag__text {
  margin: 0;
  margin-left: 6px;

  @media (min-width: $tablet-width) {
    margin-left: 15px;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }
}
