.directions {
  position: relative;
  background-color: $background-directions;
  color: $special-grey;
  border-radius: 0 0 30px 30px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 100%;
    background-color: $color-blue;
    z-index: -1;

    @media (min-width: $tablet-width) {
      height: 50px;
    }
  }

  @media (min-width: $tablet-width) {
    border-radius: 0 0 60px 60px;
  }
}

.directions__container {
  @include container;
  padding-top: 70px;
  padding-bottom: 34px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-top: 70px;
    padding-left: 50px;
    padding-bottom: 80px;
    background-image: url("../img/png/flags-back.png"),
      url("../img/svg/Rectangle-directions.svg");
    background-repeat: no-repeat;
    background-position: top 80px right 40px,
      top 407px left 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 166px;
    padding-bottom: 100px;
    padding-left: 105px;
    background-position: top 90px right 60px,
      top 90px left 60px;
    display: grid;
    grid-template-areas:
      "list title"
      "list text"
      "list button";
  }
}

.directions__title {
  grid-area: title;
  margin: 0;
  padding: 0;
  padding-left: 25px;
  padding-bottom: 20px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: $special-orange;

  @media (min-width: $tablet-width) {
    padding-bottom: 55px;
    font-size: 45px;
    line-height: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 20px;
  }
}

.directions__text {
  grid-area: text;
  margin: 0;
  padding-left: 25px;
  padding-right: 50px;
  margin-bottom: 60px;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    width: 340px;
    margin-bottom: 108px;
    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 28px;
    margin-bottom: 65px;
  }
}

.directions__list {
  @include reset;
  position: relative;
  display: flex;
  flex-direction: column;
  grid-area: list;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-left: 25px;
    margin-right: 35px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 145px;
  }
}

.directions__item {
  position: relative;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-template-rows: 140px;
  }

  @media (min-width: $desktop-width) {
    max-width: 560px;
    grid-template-columns: 1fr 33%;
  }
}

.directions__item:not(:last-child) {
  margin-bottom: 10px;
}

.directions__image {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    order: 1;
    border-top-left-radius: initial;
    border-bottom-left-radius: initial;
  }

  & img {
    display: block;
    width: 100%;

    @media (min-width: $tablet-width) {
      width: 186px;
      height: 140px;
      object-fit: cover;
      object-position: right;
    }
  }
}

.directions__inner {
  position: relative;
  width: 100%;
  padding-top: 25px;
  padding-left: 24px;
  margin-top: -10px;
  z-index: 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: $color-white;
  border-radius: 10px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    flex-grow: 2;
    margin-top: 0;
    padding-left: 30px;
    border-top-right-radius: initial;
    border-bottom-right-radius: initial;
  }

  @media (min-width: $desktop-width) {
    padding-top: 18px;
  }
}

.directions__flag {
  position: absolute;
  width: 35px;
  height: 25px;
  top: 88px;
  left: 25px;
  z-index: 3;

  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;
    top: 16px;
    right: 152px;
    left: initial;
  }
}

.directions__subtitle {
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;

  color: $color-black;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 5px;
  }
}

.directions__lead {
  margin: 0;
  padding-bottom: 24px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  color: rgba($special-grey, 0.3);

  &--last {
    padding-bottom: 5px;

    @media (min-width: $tablet-width) {
      padding-bottom: 22px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.directions__lead--span {
  position: relative;
  line-height: 20px;
  padding-left: 15px;
  color: rgba($basic-blue, 0.3);

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 11px;
    height: 12px;
    background-image: url("../img/user.png");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 24px;
      height: 24px;
      background-size: 16px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    order: 3;
    padding-bottom: 26px;
    padding-left: 30px;
  }
}

.directions__button {
  grid-area: button;
  width: 270px;
  height: 62px;
  text-align: left;
  padding-left: 20px;

  &::before {
    position: absolute;
    content: "";
    top: 23px;
    right: 22px;
    width: 12px;
    height: 15px;
    background-image: url("../img/svg/polygon.svg");

    @media (min-width: $tablet-width) {
      top: 36px;
      left: 31px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 618px;
    height: 82px;
    margin-left: 25px;
    padding-left: 33px;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 275px;
    height: 80px;
  }
}
