.features {
  @include reset;
  width: 270px;
}

.features__item {
  padding: 25px;
  line-height: 18px;
  font-weight: 700;
  color: $basic-blue;

  &--special-orange {
    background-color: $special-orange;
  }

  &--basic-orange {
    background-color: $basic-orange;
  }

  &--yellow-dark {
    background-color: $special-yellow-dark;
  }

  &--basic-yellow {
    background-color: $basic-yellow;
  }
}
