.features {
  @include reset;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 39px;

  counter-reset: number;

  @media (min-width: $tablet-width) {
    width: 700px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 96px;
  }

  @media (min-width: $desktop-width) {
    width: 1320px;
    flex-wrap: nowrap;
    margin-top: 0;
  }
}

.features__item {
  position: relative;
  width: 270px;
  min-height: 80px;
  padding: 30px;
  line-height: 18px;
  font-weight: 700;
  color: $basic-blue;
  background-color: $special-orange;
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;

  &--special-orange {
    @media (min-width: $tablet-width) {
      border-radius: 10px 0 0 0;
    }

    @media (min-width: $desktop-width) {
      border-radius: 10px 0 0 10px;
    }
  }

  &--basic-orange {
    margin-top: -10px;
    background-color: $basic-orange;
  }

  &--yellow-dark {
    margin-top: -10px;
    background-color: $special-yellow-dark;
  }

  &--basic-yellow {
    margin-top: -10px;
    background-color: $basic-yellow;
    border-radius: 10px 10px 10px 10px;
  }

  &::after {
    position: absolute;
    counter-increment: number;
    content: counter(number);
    top: 23px;
    right: 23px;

    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    text-align: center;

    color: $color-white;
  }

  @media (min-width: $tablet-width) {
    width: 344px;
    min-height: 140px;
    font-size: 24px;
    line-height: 24px;

    &::after {
      font-size: 30px;
      line-height: 30px;
      left: 34px;
      bottom: 28px;
      top: auto;
      right: auto;
    }
  }

  @media (min-width: $desktop-width) {
    width: 330px;
    min-height: 104px;

    &::after {
      font-size: 24px;
      line-height: 24px;
      top: 29px;
      right: 33px;
      left: auto;
      bottom: auto;
    }
  }
}
