.interested {
  position: relative;
  font-weight: 300;
  box-sizing: border-box;
  color: $color-white;
  background-color: $color-blue;
  border-radius: 0 0 30px 30px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 100%;
    background-color: $basic-yellow;
    z-index: -1;

    @media (min-width: $tablet-width) {
      height: 50px;
    }
  }

  @media (min-width: $tablet-width) {
    border-radius: 0 0 60px 60px;
  }
}

.interested__container {
  @include container;
  padding-top: 70px;
  padding-bottom: 31px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-top: 72px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 105px;
    padding-bottom: 105px;
  }
}

.interested__title {
  margin: 0;
  padding: 0;
  padding-bottom: 19px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;

  color: $special-orange;

  @media (min-width: $tablet-width) {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.interested__text {
  width: 74%;
  margin: 0;
  margin-bottom: 31px;
  padding-left: 32px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 618px;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 68px;
    padding-left: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 62px;
  }

  &--last {
    width: 84%;
    margin-top: 27px;
    margin-bottom: 17px;
    padding-left: 20px;

    @media (min-width: $tablet-width) {
      padding-left: 0;
      width: 100%;
    }
  }
}

.interested__link {
  text-decoration: none;

  color: $basic-yellow;
}

.interested__form {
  display: flex;
  justify-content: space-between;

  color: $special-grey;
  background-color: $color-white;

  border-radius: 10px;

  @media (min-width: $tablet-width) {
    margin-left: 36px;
    margin-right: 36px;
    margin-bottom: 55px;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 65px;
  }
}

.interested__input {
  width: 163px;
  padding-top: 19px;
  padding-bottom: 20px;
  padding-left: 23px;

  font-size: 18px;
  line-height: 18px;

  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

  &::placeholder {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: rgba($special-grey, 0.3);

    @media (min-width: $tablet-width) {
      font-size: 24px;
      line-height: 24px;
    }
  }

  &:hover {
    background-color: $background-directions;
    border-color: $background-directions;
    color: $special-grey;
  }

  &:hover::placeholder {
    color: rgba($special-grey, 0.5);
  }

  &:focus,
  &:active {
    background-color: $color-blue;
    outline: 4px solid $color-white;
    color: $color-white;
  }

  &:focus::placeholder {
    color: $color-white;
  }

  @media (min-width: $tablet-width) {
    width: 536px;
    font-size: 24px;
    line-height: 24px;
    padding-left: 34px;
  }

  @media (min-width: $desktop-width) {
    width: 850px;
  }
}

.interested__button {
  position: relative;

  padding: 0;
  width: 60px;
  height: 62px;
  flex-shrink: 0;

  font-size: 0;

  background-color: $basic-yellow;

  border: none;
  border-radius: 10px;
  border-top-left-radius: initial;
  border-bottom-left-radius: initial;

  &::before {
    position: absolute;
    content: "";
    top: 23px;
    right: 24px;
    width: 12px;
    height: 15px;
    background-image: url("../img/svg/polygon.svg");

    @media (min-width: $tablet-width) {
      top: 33px;
      right: 34px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    border-top-left-radius: initial;
    border-bottom-left-radius: initial;
  }


  @media (min-width: $desktop-width) {
    width: 330px;

    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    text-align: left;
    padding-left: 40px;

    color: $basic-blue-light;
  }
}

.interested__button::after {
  top: 23px;
  right: 23px;
}

.interested__list {
  @include reset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    margin-left: 44px;
    padding-top: 26px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.interested__item {
  @media (min-width: $desktop-width) {
    padding-left: 180px;

    &:last-child {
      padding-left: 127px;
    }
  }
}

.interested__link-contacts {
  display: flex;
  align-items: center;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-yellow;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }
}

.interested__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-right: 17px;
  border-radius: 50%;
  background-color: $blue-icon;

  @media (min-width: $tablet-width) {
    width: 68px;
    height: 68px;
  }

  @media (min-width: $desktop-width) {
    width: 90px;
    height: 90px;
  }

  & svg {
    @media (min-width: $tablet-width) {
      width: 27px;
      height: 26px;
    }

    @media (min-width: $desktop-width) {
      width: 32px;
      height: 30px;
    }
  }
}
