.intro {
  background-color: $basic-blue;
  color: $color-white;
  background-image: url("../img/png/globe-back-mobile1.png");
  background-repeat: no-repeat;
  background-position: -80px -20px;
  background-size: 400px 426px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/png/globe-back-mobile2.png");
  }

  @media (min-width: $tablet-width) {
    background-color: $intro-tablet;
    background-image: url("../img/png/globe-back-tablet.png");
    background-repeat: no-repeat;
    background-position: -5px 225px;
    background-size: 770px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/png/globe-back-tablet2.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-color: $intro-desktop;
    background-image: url("../img/png/globe-back-desktop.png");
    background-repeat: no-repeat;
    background-position: -4px -97px;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/png/globe-back-desktop2.png");
    }
  }
}

.intro__container {
  @include container;
  background-image: url("../img/png/traveller-illustration-mobile1.png");
  background-repeat: no-repeat;
  background-position: 82px 150px;

  @media (min-width: $tablet-width) {
    padding-top: 22px;
    background-image: url("../img/png/traveller-illustration-tablet.png");
    background-repeat: no-repeat;
    background-position: 285px 267px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 418px 1fr;
    grid-template-rows: 420px 1fr;
    padding-top: 0;
    background-image: url("../img/png/traveller-illustration-desktop.png");
    background-repeat: no-repeat;
    background-position: 605px 8px;
  }
}

.intro__title {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-top: 18px;
  margin-bottom: 228px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 148px;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    width: 418px;
    vertical-align: top;
    text-align: left;
    padding-left: 69px;
    padding-top: 100px;
  }
}

.intro .main-header__user-list {
  .main-header__user-item--hide {
    display: block;
  }

  .main-header__user-link--login {
    padding: 5px 40px;
  }
}

.intro__list {
  @include reset;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}


.intro__item {
  position: relative;
  padding: 20px 0;
}

.intro__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $special-orange;

  &--email {
    background-color: $special-yellow-dark;
  }
}

.intro__login {
  padding: 10px 40px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $basic-yellow;
  color: $basic-blue;
  border-radius: 20px;

  &:hover {
    background-color: $special-yellow-dark;
  }

  &:active {
    color: $link-opacity;
  }
}

.intro__review {
  display: flex;
  flex-direction: column;
  width: 155px;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 100px;

  @media (min-width: $tablet-width) {
    width: 260px;
    padding-left: 33px;
    margin-bottom: 212px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    vertical-align: middle;
    padding-top: 115px;
    padding-right: 26px;
  }
}

.intro__text {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
    font-size: 28px;
    line-height: 33px;
  }
}

.intro__author {
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;
  }
}
