.level {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  color: $color-white;

  &::before {
    content: "";
    width: 38px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 0;
    border: 4px solid #ff8d30;
    border-radius: 50%;
    border-top-color: transparent;
    border-right-color: transparent;
    transform: rotate(85deg);
    z-index: 1;
  }

  &::after {
    content: "";
    width: 38px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 0;
    border: 4px solid #ff8d30;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(85deg);
    z-index: 1;
  }

  &--99::before {
    transform: rotate(38deg);
  }

  &--99::after {
    transform: rotate(46deg);
  }

  &--80::before {
    transform: rotate(-25deg);
  }

  &--80::after {
    transform: rotate(46deg);
  }

  &--25::before {
    transform: rotate(-136deg);
    border-left-color: transparent;
  }

  &--25::after {
    transform: rotate(46deg);
    display: none;
  }

  &--50::before {
    transform: rotate(-134deg);
  }

  &--50::after {
    transform: rotate(46deg);
    display: none;
  }

  &--index {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 60px;
    height: 60px;

    &::after {
      width: 55px;
      height: 55px;
      top: -2px;
      left: 0;
    }

    &::before {
      width: 55px;
      height: 55px;
      top: -2px;
      left: 0;
    }
  }

  &--catalog {
    width: 38px;
    height: 38px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: $color-white;
    color: $basic-blue-light;

    &::after {
      top: -2px;
      left: -3px;
    }

    &::before {
      top: -2px;
      left: -3px;
    }

    @media (min-width: $tablet-width) {
      width: 55px;
      height: 55px;
      margin-left: -13px;
      margin-top: 3px;
    }
  }

  &--big {
    width: 100px;
    height: 100px;

    &::after {
      width: 95px;
      height: 95px;
      top: -2px;
      left: 0;
    }

    &::before {
      width: 95px;
      height: 95px;
      top: -2px;
      left: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 55px;
    height: 55px;

    &::before {
      width: 54px;
      height: 54px;
    }

    &::after {
      width: 54px;
      height: 54px;
    }

    &--big {
      justify-content: flex-start;
      width: 94px;
      height: 94px;

      &::after {
        width: 84px;
        height: 84px;
        top: -2px;
        left: 0;
      }

      &::before {
        width: 84px;
        height: 84px;
        top: -2px;
        left: 0;
      }
    }

    &--index {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.6);
      width: 60px;
      height: 60px;

      &::after {
        width: 55px;
        height: 55px;
        top: -2px;
        left: 0;
      }

      &::before {
        width: 55px;
        height: 55px;
        top: -2px;
        left: 0;
      }
    }
  }
}

.level__number {
  position: relative;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;

  &--big {
    margin-left: 27px;
    margin-right: 27px;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;

    color: $basic-blue;
  }

  &--form {
    padding-left: 0;
  }

  @media (min-width: $tablet-width) {
    &--catalog {
      padding-top: 15px;
      padding-left: 4px;
    }

    &::before {
      position: absolute;
      top: 38px;
      left: 4px;
      content: "";
      width: 32px;
      height: 1px;
      background-color: rgba($special-grey, 0.3);
    }

    &--big {
      padding-top: 13px;

      &::before {
        top: 51px;
        left: -3px;
        width: 47px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--form {
      color: $color-white;
    }
  }
}

.level__description {
  margin: 0;
  padding-left: 15px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;

  &--big {
    padding-left: 0;
    padding-top: 7px;
    font-size: 18px;
    line-height: 18px;

    color: $special-grey;
  }

  &--catalog {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;

    &--catalog {
      display: block;
      margin: 0;
      padding-left: 0;
      color: rgba($color-black, 0.3);
    }

    &--big {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    &--form {
      display: block;
      color: $color-white;
      padding-top: 4px;
    }
  }
}
