.mainland {
  @include reset;
  padding-top: 15px;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    padding-left: 31px;
  }
}

.mainland__item {
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    padding-right: 29px;
  }
}

.mainland__link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;

  color: rgba($color-blue, 0.3);
  text-transform: uppercase;

  text-decoration: none;

  &--current {
    color: $color-blue;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
