.main-header {
  position: relative;
  display: flex;
  padding-top: 26px;
  padding-bottom: 30px;
  background-color: $color-blue;
  color: $color-white;

  .logo__image {
    display: none;
  }

  .logo__image--dark {
    display: block;
  }

  .contacts-list,
  .site-list,
  .social-list,
  .main-nav {
    display: none;
  }

  &--nojs,
  &--opened {
    background-color: $color-white;

    .contacts-list,
    .site-list,
    .social-list,
    .main-nav {
      display: flex;
    }

    .logo__image {
      display: block;
    }

    .logo__image--dark {
      display: none;
    }

    .main-header__toggle {
      background-image: url("../img/svg/menu-close.svg");
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 18px;

    .main-nav {
      display: block;
    }

    .main-nav__contacts {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.main-header__toggle {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  background-image: url("../img/svg/icon-menu-mobile.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
  }
}

.main-header__container {
  @include container;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.main-header__inner {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 52%;
    margin-top: 2px;
  }
}
