.mainland {
  @include reset;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-top: 62px;
    padding-left: 31px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 18px;
    padding-left: 13px;
  }
}

.mainland__item {
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    padding-right: 29px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 32px;
  }
}

.mainland__link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;

  color: rgba($color-blue, 0.3);
  text-transform: uppercase;

  text-decoration: none;

  &--current {
    color: $color-blue;
  }

  &:hover,
  &:focus {
    color: rgba($color-blue, 0.6);
  }

  &:active {
    color: rgba($color-blue, 1);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
