.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 3;

  background-color: $color-white;
  box-shadow: 0 2px 16px rgba(212, 217, 235, 0.25);
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    display: none;
    box-shadow: 0 8px 16px rgba(54, 80, 148, 0.18);
  }

  @media (min-width: $desktop-width) {
    width: 730px;
  }
}
