.pagination {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    background-color: $color-white;
    justify-content: space-between;
    border-radius: 20px;
  }
}

.pagination__list {
  @include reset;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.pagination__direction {
  @include reset;
  display: flex;
}

.pagination__arrow {
  display: block;
  width: 135px;
  min-height: 50px;
  position: relative;
  background-color: $color-white;
}

.pagination__link {
  position: relative;

  display: block;
}


.pagination__arrow::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 63px;

  width: 10px;
  height: 20px;

  background-image: url("../img/svg/page-arrows.svg");
  background-size: 10px 20px;
}

.pagination__arrow--prev {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 1px solid $background-directions;
}

.pagination__arrow--next {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.pagination__arrow--next::before {
  transform: rotate(180deg);
}
