.plan-filters {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }
}

.plan-filters__field {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: none;

  @media (min-width: $tablet-width) {
    border-top: 1px solid $border-color;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 3px;
    width: 485px;
    margin-left: -13px;
    border-top: none;
  }

  &--companions {
    @media (min-width: $tablet-width) {
      order: 1;
    }
  }

  &--kids {
    @media (min-width: $tablet-width) {
      order: 2;
      padding-bottom: 27px;
      border-top: none;
    }

    @media (min-width: $desktop-width) {
      align-self: flex-end;
    }
  }

  &--days {
    @media (min-width: $tablet-width) {
      order: 3;
    }
  }
}

.plan-filters__label {
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 18px;
    padding-bottom: 24px;
    padding-top: 28px;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    width: 194px;
    margin-left: 10px;

    &--kids {
      margin-left: auto;
    }
  }
}

.plan-filters__text {
  line-height: 16px;

  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: $basic-blue-light;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 18px;
    padding-bottom: 24px;
    padding-top: 28px;
  }

  @media (min-width: $desktop-width) {
    order: 3;
    opacity: 1;
    font-weight: 500;
    width: 45px;
  }
}


.plan-filters__input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    width: 162px;
    order: 2;
    height: 70px;
    margin-bottom: 0;
    margin-left: 5px;
  }
}

.plan-filters__input {
  position: relative;
  width: 100%;
  height: 43px;
  border: 1px solid $background-profile;
  border-radius: 4px;
  text-align: center;

  @media (min-width: $tablet-width) {
    height: 70px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 187px;
    order: 2;
  }
}

.plan-filters__button {
  width: 40px;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: transparent;
  padding: 0;
  text-align: center;
  border: none;
}

.plan-filters__button--decrease {
  right: 0;

  &::before {
    content: "";
    width: 14px;
    height: 2px;
    position: absolute;
    left: 5px;
    top: 25px;
    background-color: $form;

    @media (min-width: $tablet-width) {
      width: 20px;
      top: 35px;
    }
  }

  &::after {
    content: "";
    width: 14px;
    height: 2px;
    position: absolute;
    left: 5px;
    top: 25px;
    background-color: $form;
    transform: rotate(90deg);

    @media (min-width: $tablet-width) {
      width: 20px;
      top: 35px;
    }
  }
}

.plan-filters__button--increase {
  left: 0;

  &::before {
    content: "";
    width: 14px;
    height: 2px;
    position: absolute;
    right: 5px;
    top: 25px;
    background-color: $form;

    @media (min-width: $tablet-width) {
      width: 20px;
      top: 35px;
    }
  }
}

.plan-filters__label--kids {
  position: relative;
  padding-left: 35px;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: none;

  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-top: 34px;
    padding-left: 56px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
    width: 26px;
    height: 26px;
    border: 1px solid $background-profile;
    border-radius: 4px;

    @media (min-width: $tablet-width) {
      width: 36px;
      height: 36px;
      top: 25px;
    }
  }
}

.plan-filters__checkbox:focus + .plan-filters__label--kids::before,
.plan-filters__checkbox:hover + .plan-filters__label--kids::before {
  border: 1px solid #959bb2;
}

.plan-filters__checkbox:checked + .plan-filters__label--kids::before {
  border: 1px solid $background-profile;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}
