.plan-description {
  display: flex;
  flex-direction: column;
  padding-top: 23px;

  @media (min-width: $tablet-width) {
    padding-top: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 80px;
  }
}

.plan-description__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 500px;
  }
}

.plan-description__text {
  width: 220px;
  height: 220px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  border: 1px solid $background-directions;
  border-radius: 4px;
  color: $special-grey;

  @media (min-width: $tablet-width) {
    width: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
    height: 142px;
  }
}

.plan-description__country {
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0.01em;

  color: $basic-blue-light;
}
