.plan {
  background-color: $button-grey;
  border-radius: 30px 30px 0 0;

  @media (min-width: $desktop-width) {
    border-radius: 60px 60px 0 0;
  }
}

.plan__container {
  @include container;
  position: relative;
  padding-top: 25px;
  padding-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 25px;
    left: 0;
    bottom: -20px;
    background-color: $button-grey;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    padding-top: 54px;
    padding-bottom: 66px;
    padding-left: 75px;
    padding-right: 75px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 128px;
    padding-right: 60px;

    &::before {
      height: 50px;
      bottom: -50px;
    }
  }
}

.plan__title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;

  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.plan__list {
  @include reset;
  counter-reset: item;
}

.plan__item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  padding-top: 24px;
  padding-bottom: 22px;
  margin-bottom: 10px;

  background-color: $color-white;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    padding-top: 38px;
    padding-left: 15px;
    padding-right: 40px;
    letter-spacing: 0.1em;
    padding-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 25px;
    padding-bottom: 21px;
    margin-bottom: 18px;
  }
}

.plan__item::before {
  counter-increment: item;
  content: counters(item, ".") ". ";

  position: absolute;
  top: 23px;
  left: 24px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    top: 42px;
    right: 33px;
    left: auto;
  }

  @media (min-width: $desktop-width) {
    top: 35px;
    left: 38px;
    right: auto;
  }
}

.plan__subtitle {
  margin: 0;
  padding: 0;
  padding-left: 42px;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 700;

  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    width: 618px;
    padding-bottom: 34px;
    padding-left: 25px;
    margin-bottom: 18px;

    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0;

    border-bottom: 1px solid $background-profile;
  }

  @media (min-width: $desktop-width) {
    width: 508px;
    padding-left: 74px;
    padding-bottom: 0;
    padding-top: 5px;
    border: none;
  }
}

.plan__text {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  padding-left: 25px;
  padding-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 0.06em;

  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-left: 27px;

    &:first-child {
      padding-left: 10px;
    }
  }
}

.plan__data {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  padding-left: 25px;
  padding-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 0.06em;

  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-left: 43px;
  }
}

.plan__button {
  padding-left: 25px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: rgba($color-black, 0.3);

  &:hover,
  &:focus {
    color: rgba($color-black, 0.6);
  }

  &:active {
    color: rgba($color-black, 0.1);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    margin-left: auto;
    letter-spacing: 0.1em;
  }
}
