.profile {
  /*временно*/
  width: 320px;
  margin: 0 auto;

  padding: 20px 25px;
  box-sizing: border-box;

  background-color: $background-directions;
}

.profile__info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.profile__image img {
  border-radius: 50%;
}

.profile__level {
  background-color: transparent;
}

.profile__button {
  width: 270px;
  padding: 12px 67px;
  margin-top: 18px;
}

.profile__hashtags {
  margin-top: 30px;
  border: 1px solid $background-profile;
  border-radius: 10px;
}

.profile__hashtags-title {
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  color: $basic-blue-light;
}

.profile__hashtags-textarea {
  width: 100%;

  border: none;
  color: rgba($special-grey, 0.6);
  background-color: transparent;
}

.profile__transport {
  border: 1px solid $background-profile;
  border-radius: 10px;
}

.profile__transport-title {
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  color: $basic-blue-light;
}
