.rate-business {
  margin: 0 25px;
  padding: 25px;
  width: 270px;
  box-sizing: border-box;
  background-color: $color-white;
  border-radius: 20px;
}

.rate-business__title {
  margin: 0;
  padding: 0;
  padding-top: 34px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;

  color: $special-orange;
}

.rate-business__list {
  @include reset;
}

.rate-business__button {
  width: 100%;
  border: none;
}
