.route {
  background-color: $basic-yellow;
  border-radius: 0 0 30px 30px;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 60px 60px;
  }
}

.route__container {
  @include container;
  padding-top: 13px;
  padding-bottom: 35px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 88px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 58px;
    padding-bottom: 25px;

    display: flex;
    justify-content: space-between;
  }
}

.route__address {
  position: relative;
  padding-left: 61px;
  margin-right: 65px;
  margin-bottom: 35px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;

  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    padding-left: 128px;
    margin-bottom: 62px;
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 344px;
  }


  &::after {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    top: 0;
    left: 0;
    background-image: url("../img/svg/map-mark.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: -20px;
      left: 35px;
      width: 68px;
      height: 68px;
      background-size: cover;
    }

    @media (min-width: $desktop-width) {
      top: -30px;
      left: 223px;
      width: 90px;
      height: 90px;
    }
  }
}

.route__button {
  width: 270px;
  height: 62px;
  margin: 0 auto;
  padding-top: 18px;
  padding-left: 19px;

  color: $basic-blue-light;
  border: 3px solid $color-blue;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 618px;
    height: 80px;
    padding-left: 38px;
    padding-top: 25px;
    text-align: left;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 324px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 20px;
    right: 18px;
    width: 12px;
    height: 15px;
    background-image: url("../img/svg/polygon.svg");
  }
}
