.service {
  position: relative;
  background-color: $color-blue;
  color: $color-white;
  border-radius: 0 0 30px 30px;
  box-sizing: border-box;
  background-image: url("../img/svg/rectangle-mobile.svg");
  background-repeat: no-repeat;
  background-position: left 0 top 0;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 100%;
    background-color: $background-directions;
    z-index: -1;

    @media (min-width: $tablet-width) {
      height: 50px;
    }
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/svg/rectangle-tablet.svg");
    background-position: left 40px top 0;
    border-radius: 0 0 60px 60px;
  }
}

.service__container {
  @include container;
  padding-top: 32px;
  padding-bottom: 82px;
  padding-left: 49px;
  padding-right: 52px;
  margin: 0 auto;
  background-image: url("../img/png/about-mobile.png");
  background-repeat: no-repeat;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-bottom: 89px;
    padding-top: 38px;
    padding-left: 75px;

    background-image: url("../img/png/about-tablet.png");
    background-position: right 7px top 48px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 88px;
    padding-bottom: 163px;
    padding-left: 130px;

    background-image: url("../img/png/about-desktop.png");
    background-position: top 0 right 60px;
  }
}

.service__title {
  margin: 0;
  padding: 0;
  padding-bottom: 19px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;

  color: $special-orange;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
    font-size: 45px;
    line-height: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 57px;
  }
}

.service__text {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 300;

  &--bold {
    margin: 0;
    font-weight: 700;
  }

  @media (min-width: $tablet-width) {
    width: 300px;
    padding-bottom: 33px;
    font-size: 28px;
    line-height: 33px;

    &--bold {
      width: 265px;
      padding-bottom: 53px;
      font-size: 21px;
      line-height: 25px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    padding-bottom: 42px;

    &--bold {
      width: 425px;
      padding-bottom: 85px;
    }
  }
}

.service__button {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 276px;
    height: 80px;
    padding-left: 30px;

    text-align: left;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;

    color: $basic-blue-light;
    border-radius: 20px;

    &::before {
      position: absolute;
      content: "";
      top: 23px;
      right: 22px;
      width: 12px;
      height: 15px;
      background-image: url("../img/svg/polygon.svg");

      @media (min-width: $tablet-width) {
        top: 35px;
        right: 35px;
      }
    }
  }
}
