/* .site-list {
  @include reset;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  order: 1;
  margin-bottom: 52px;

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 390px;
  }
}

.site-list__link {
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;

  color: $color-blue;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
} */
