.site-list {
  @include reset;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 390px;
  }
}

.site-list__link {
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;

  color: $color-white;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
