.transport__list {
  @include reset;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.transport__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-white;
  width: 34px;
  height: 34px;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 43px;
    height: 43px;
  }

  &--catalog {
    background-color: $background-directions;

    @media (min-width: $tablet-width) {
      width: 25px;
      height: 25px;
      justify-content: end;
      align-items: flex-start;
      background-color: inherit;
      margin-top: 6px;
      margin-left: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 10px;
      margin-top: 20px;
    }
  }
}

.transport__title {
  &--hidden {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--desktop {
    display: block;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.transport__label {
  display: flex;
  justify-content: center;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
    background-color: $bacground-check;
  }
}

.transport__svg {
  fill: $basic-blue-light;
}

.transport__input:focus + .transport__label {
  opacity: 0.7;
}

.transport__input:checked + .transport__label {
  opacity: 0.3;
}
