$color-white: #ffffff;
$color-black: #000000;
$basic-blue: #161c35;
$color-blue: #192144;
$blue-dark: #101D41;
$basic-blue-light: #1d2e5b;
$special-grey: #444444;
$basic-yellow: #ffd74b;
$special-yellow-dark: #ffbd30;
$special-orange: #ff8d30;
$basic-orange: #ffa530;
$background-yellow: #f3c72b;
$blue-icon: #121936;
$link-opacity: rgba(22, 28, 53, 0.3);
$level-opacity: rgba(0, 0, 0, 0.6);
$icon-hover: #f26926;
$background-directions: #edeff6;
$background-rate: #e6e8f1;
$border-color: #e1e3e9;
$button-color: #132576;
$background-profile: #cbced9;
$button-phone: #757986;
$background-country: #e2e5f2;
$button-grey1: #d6daed;
$background-plan: #d4d9eb;
$color-weekend: #ff5c23;
$intro-tablet: #182044;
$intro-desktop: #192144;
$button-grey: #dfe3f0;
$button-grey-hover: #d1d7e9;
$bacground-check: #e2e5f1;
$form: #cccccc;
$background-like: #f9eaea;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
