$color-white: #ffffff;
$color-black: #000000;
$basic-blue: #161c35;
$color-blue: #192144;
$basic-blue-light: #1d2e5b;
$special-grey: #444444;
$basic-yellow: #ffd74b;
$special-yellow-dark: #ffbd30;
$special-orange: #ff8d30;
$basic-orange: #ffa530;
$blue-icon: #121936;
$link-opacity: rgba(22, 28, 53, 0.3);
$level-opacity: rgba(0, 0, 0, 0.6);
$icon-hover: #f26926;
$background-directions: #edeff6;
$background-rate: #e6e8f1;
$border-color: #e1e3e9;
$button-color: #132576;
